<!-- 
    add welcome section info, like a little message
    also add button that will link to login/signup page
-->
<section class="welcome-container">
    <div class="welcome-content">
        <h1>Coral-Xchange</h1>
        <p></p>
    </div>
</section>

<!-- card section 
    add info on what the app offers in terms of paper trading 
-->
<section class="cards">
        <mat-card class="card-container" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Real Time Stock Trading</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Experience and practice trading in real time without the risks.
                </p>
            </mat-card-content>
        </mat-card>
                <mat-card class="card-container" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Profile Statistics</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Track your trading performace from your profile dashboard.
                </p>
            </mat-card-content>
        </mat-card>
                <mat-card class="card-container" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Stay Informed</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Search over news articles to keep up with whats happening in the world.
                </p>
            </mat-card-content>
        </mat-card>
                <mat-card class="card-container" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Ready?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Sign up today!
                </p>
            </mat-card-content>
        </mat-card>
</section>