/* You can add global styles to this file, and also import other style files */
html, body 
{
    margin: 0;
    padding: 0;
}

.profile-menu {
    background-color: white !important;
}

.profile-menu .mat-mdc-menu-item {
    color: black !important;
}
