<body>
    <h1>HELLO FROM HOME PAGE</h1>
    <section class="big-welcome">
        placeholder picture + get started button
    </section>
    <!-- testing for grids, angular compenent for seperating home screen information-->
    <section class="grids">
        <mat-grid-list cols="4" rowHeight="100px">
            @for (tile of tiles; track tile)
            {
                <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color"></mat-grid-tile>
            }
        </mat-grid-list>
    </section>
</body>
